<html>
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif+TC" rel="stylesheet">
  <link href="/style.css" rel="stylesheet">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script type='text/javascript' src='/script.js'></script>
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'>
    <meta charset='UTF-8' />
  </head>
  <body>
    <div class='cta-wrapper'>
      <p id='cta'>Abstrair</p>
    </div>
    <div class='term-wrapper'>
      <p id='term'></p>
    </div>
  </body>
</html>
