p {
  font-family: 'Noto Serif TC', serif;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

div.button-container {
  margin-top: 10%;
}

div.button-container p {
  font-size: 6.66vmin;
  margin: auto;
}

div.term-container {
   height: 60vh;
   position: relative;
}

div.term-container p {
  font-size: 7.666vmin;
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-decoration: underline;
}
