body {
  display: grid;
  grid-template-rows: 100px 60px;
  grid-row-gap: 20px;
  align-content: center;
}

div {
  display: grid;
  align-items: center;
  justify-items: center;
}

#cta {
  border: 3px solid black;
  padding: 5px 30px;
  transition: all 250ms ease;
}

#cta:hover {
  border: 3px solid black;
  color: white;
  background: black;
}

#term {
  display: none;
  font-size: 36px;
  transition: all 250ms ease;
}

#term:hover {
  opacity: 0.8;
  text-decoration: underline;
}

p {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  font-size: 48px;
  font-family: 'Noto Serif TC', serif;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
